/* AboutMe.module.css */

.aboutUs {
  height: 100vh;
 
   background-color: #c7eaff;
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .aboutUs {
    height: 100%;
  }
}

h1 {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-shadow:
    0 0 8px rgba(255, 255, 255, 1),
    0 0 16px rgba(255, 255, 255, 1),
    0 0 24px rgba(255, 255, 255, 1),
    0 0 32px rgba(255, 255, 255, 1);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  h1 {
    font-size: 2.5rem;
    margin: 0; 
    padding-bottom: 0.5;
  }
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 4rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-shadow:
    0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1),
    0 0 24px rgba(0, 0, 0, 0.1),
    0 0 32px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .greeting {
    font-size: 1.5rem;
    margin: 0;
    padding: 0 1rem;
    text-align: center;
  }
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .description {
    flex-direction: column;
    padding: 1rem;
  }
}

.mishaCard,
.danielaCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: calc(100% / 2 - 2rem);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .mishaCard,
  .danielaCard {
    width: 100%;
    justify-content: center;
    margin-top: -1rem; 

    display: block;
  }
}

.mishaImg,
.danielaImg {
  width: 200px;
  height: auto;
  border-radius: 20%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 1);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .mishaImg,
  .danielaImg {
    width: 150px;
    float: left;
    align-self: self-start;
    margin: 0.5rem 1rem 0 0;
  }
}

@media screen and (min-width: 350px) and (max-width: 400px) {
  .mishaImg,
  .danielaImg {
   
    margin: 0.5rem 1rem 0.1rem 0;
  }
}

.mishaText,
.danielaText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .mishaText,
  .danielaText {
    gap: 0;
    text-align: left;
    display: block;
    margin: 0;
  }
}

.mishaName,
.danielaName {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .mishaName,
  .danielaName {
    font-size: 1.5rem;
  margin: 0.4rem 0 0 11rem;
  }
}

.mishaJob,
.danielaJob {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .mishaJob,
  .danielaJob {
    font-size: 1.2rem;
  }
}
