.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/images/ElectricalSurveillanceWorks.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 15%;
  height: 100vh;
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .home {
    background-image: url("../assets/images/homeBGimageForMobile.png");
    align-items: center;
    width: 100%;
    height: 100vh;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: -9rem;

  font-size: 9rem;
  font-weight: 800;
  color: rgb(0, 0, 0);
  text-shadow:
    0 0 8px rgba(255, 255, 255, 1),
    0 0 16px rgba(255, 255, 255, 1),
    0 0 24px rgba(255, 255, 255, 0.9),
    0 0 32px rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .text {
    align-self: center;

    font-size: 4rem;
    font-weight: 700;
    margin-top: 2rem;
    padding: 0;
  }
}

.textServ {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -7rem;
  padding-top: 5rem;
  font-size: 4rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-shadow:
    0 0 8px rgba(255, 255, 255, 1),
    0 0 16px rgba(255, 255, 255, 1),
    0 0 24px rgba(255, 255, 255, 1),
    0 0 32px rgba(255, 255, 255, 1);
}

@media screen and (min-width: 385px) and (max-width: 430px) {
  .textServ {
 
    align-items: center;
  
    font-size: 1.7rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 350px) and (max-width: 384px) {
  .textServ {
    max-width: 90%;
    margin-top: -5rem;

    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(0, 0, 0);

    text-align: center;
    text-align-last: right;
  }
}

.compName {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2rem;
  font-size: 4rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow:
    0 0 8px rgb(0, 0, 0, 1),
    0 0 16px rgb(0, 0, 0, 1),
    0 0 24px rgb(0, 0, 0, 1),
    0 0 32px rgb(0, 0, 0, 1);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .compName {
   width: 100%;
    margin-top: auto;
    margin-bottom: 25rem;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow:
      0 0 8px rgba(255, 255, 255, 1),
      0 0 16px rgba(255, 255, 255, 1),
      0 0 24px rgba(255, 255, 255, 1),
      0 0 32px rgba(255, 255, 255, 1);
  }
}
