.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../assets/images/ShestakyH.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 15%;
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .home {
    background-image: url("../assets/images/Shestaky.png");
    align-items: center;
    width: 100%;
    height: 100vh;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-right: 17rem;

  position: relative;
  top: -4rem;

  font-size: 6rem;
  font-weight: 800;
  color: rgb(0, 0, 0);
  text-shadow:
    0 0 8px rgba(255, 255, 255, 1),
    0 0 16px rgba(255, 255, 255, 1),
    0 0 24px rgba(255, 255, 255, 0.9),
    0 0 32px rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .text {
    align-self: center;
    position: static;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
  }
}

.textServ {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  font-size: 3rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-shadow:
    0 0 8px rgba(255, 255, 255, 1),
    0 0 16px rgba(255, 255, 255, 1),
    0 0 24px rgba(255, 255, 255, 1),
    0 0 32px rgba(255, 255, 255, 1);
}

@media screen and (min-width: 385px) and (max-width: 430px) {
  .textServ {
    align-items: center;

    font-size: 1.5rem;
    font-weight: 500;

    margin: 0 auto;
  }
}

@media screen and (min-width: 350px) and (max-width: 384px) {
  .textServ {
    max-width: 90%;
    margin: 0 auto;

    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(0, 0, 0);

    text-align: center;
    text-align-last: right;

    margin: 0 auto;
  }
}

.compName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  font-size: 4rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow:
    0 0 8px rgb(0, 0, 0, 1),
    0 0 16px rgb(0, 0, 0, 1),
    0 0 24px rgb(0, 0, 0, 1),
    0 0 32px rgb(0, 0, 0, 1);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .compName {
    align-items: center;
    margin-top: auto;
    margin-bottom: 10rem;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow:
      0 0 8px rgba(255, 255, 255, 1),
      0 0 16px rgba(255, 255, 255, 1),
      0 0 24px rgba(255, 255, 255, 1),
      0 0 32px rgba(255, 255, 255, 1);
  }
}
