.ourServices {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    white 0%,
    #eef4ff 30%,
    #4da3ff 50%,
    #0a1f44 100%
  );
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .ourServices {
    height: 100%;
    padding-bottom: 1rem;
  }
}

.ourServices h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .ourServices h1 {
    border-bottom: px solid #413f3f;
    margin-bottom: 1rem;
    box-shadow:
      0 0 0 1px rgba(77, 163, 255, 0.3),
      0 0 10px rgba(77, 163, 255, 0.4);
  }
}

.hint {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
  color: rgb(0, 0, 0);
  text-shadow:
    0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1),
    0 0 24px rgba(0, 0, 0, 0.1),
    0 0 32px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .hint {
    font-size: 1rem;
    padding: 0;
    /* text-decoration: underline ; */
  }
}

.servicesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .servicesContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
  }
}

.electricityContainer,
.surveillanceContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1.2rem;
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .electricityContainer,
  .surveillanceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.electricityCard,
.surveillanceCard {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.electricityCard:hover,
.surveillanceCard:hover {
  transform: scale(1.05);
}

.electricityTitle,
.surveillanceTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-shadow:
    0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1),
    0 0 24px rgba(0, 0, 0, 0.1),
    0 0 32px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .surveillanceTitle {
    text-shadow:
      0 0 8px rgba(255, 255, 255, 1),
      0 0 16px rgba(255, 255, 255, 1),
      0 0 24px rgba(255, 255, 255, 1),
      0 0 32px rgba(255, 255, 255, 1);
  }
}

.electricityCard h2,
.surveillanceCard h2 {
  font-size: 1.5rem;
}

/* Modal background */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal box */
.modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 80%;
  height: auto;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal p {
  font-size: 1.2rem;
}

/* Close button */
.closeBtn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
