.prices {
  width: 100%;
  padding-top: 3%;
  box-sizing: border-box;
}



.table {
  width: 100%;
  max-width: 70%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 2rem;
  margin: 0 auto;

}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .table {
    max-width: 95%;
    font-size: 1.2rem;
   
  }
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px 16px;
  text-align: left;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 66.66%;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 33.33%;
}

.table th {
  background-color: #f5f5f5;
  font-weight: 600;
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .table td {
    font-size: 1rem;
  }
}

.table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.table tbody tr:hover {
  background-color: #f0f0f0;
}
