/* App.module.css */

.activeLink {
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2%;
  background: linear-gradient(to right, #0a1a3a, #4da3ff);
  background-size: cover;
  height: 20vh;
  padding: 0 3rem;
}

@media (min-width: 350px) and (max-width: 430px) {
  header {
    padding: 0 1rem;
    height: 10vh;
  }
}

.logo img {
  width: 10rem;
  height: 80%;
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .logo img {
    width: 4rem;
  }
}

nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .logo img {
    max-width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .logo img {
    max-width: 140px;
  }
}
@media screen and (max-width: 425px) {
  .logo img {
    max-width: 120px;
  }
}
@media screen and (max-width: 320px) {
  .logo img {
    max-width: 100px;
  }
}
.navLinks {
  display: flex;
  list-style: none;
  gap: 50px;
}
.navLinks li {
  display: inline;
  position: relative;
}

.navLinks li a {
  position: relative;
  text-decoration: none;
  color: rgb(58, 58, 58);
  font-size: 3vw;
  transition:
    transform 0.2s ease,
    font-size 0.2s ease;
  font-weight: bold;
  display: inline-block;

  text-shadow:
    0 0 8px rgba(255, 255, 255, 1),
    0 0 16px rgba(255, 255, 255, 1),
    0 0 24px rgba(255, 255, 255, 0.9),
    0 0 32px rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}

.dropdown {
  position: absolute;
  top: calc(100% + 14px);
  left: -1rem;
  width: 100%;
  background: #ffe3ef;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
  text-shadow: 4px 4px 10px rgba(58, 58, 58, 0.7);
  line-height: 2rem;
  color: rgb(58, 58, 58);
  z-index: 20;
  cursor: pointer;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.25s ease-out;
}

/* when open */
.dropdown.open {
  transform: scaleY(1);
  padding: 1rem 1rem;
}

.navLinks li a:hover {
  transform: scale(1.2);
}
.navLinks a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: rgb(58, 58, 58);
  transition: width 0.3s ease-in-out;
  box-shadow:
    0 0 8px rgba(255, 255, 255, 1),
    0 0 16px rgba(255, 255, 255, 1);
}

.navLinks a:hover::after {
  width: 100%;
}

.navLinks a.activeLink::after {
  width: 100%;
}
@media screen and (max-width: 1209px) {
  .navLinks {
    display: none;
  }
}

/*side-menu*/

.sideMenu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  background-color: #65acf8;
  border-left: 3px solid white;
  color: rgb(59, 59, 59);
  transition: right 0.3s;
  padding: 40px 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.sideMenu ul {
  list-style: none;
  padding: 0;
}
.sideMenu ul li {
  margin: 20px 0;
}
.sideMenu ul li a {
  color: rgb(59, 59, 59);
  text-decoration: none;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
  transition:
    transform 0.2s ease,
    font-size 0.2s ease;
}
.sideMenu ul li a:hover {
  transform: scale(1.1);
}

.sideMenu.active {
  right: 0;
}

.menuToggle {
  display: none;
  font-size: 40px;
  background: none;
  border: none;
  color: rgb(32, 31, 31);
  cursor: pointer;
}
@media screen and (max-width: 1209px) {
  .menuToggle {
    display: block;
    font-size: 60px;
  }
}

@media screen and (min-width: 350px) and (max-width: 430px) {
  .menuToggle {
    font-size: 3rem;
  }
}

.langToggle {
  margin-left: 20px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  background-color: orange;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}
